.main-display {
    width: 70%;
    margin: auto;
}

.view-select {
    padding-right: 20px;
}

#search-form {
    margin-right: 50px;
}

#search-page, #search-form {
    display : none;
}

table {
    width: 70%;
}

.titles {
    margin: 25px 0;
}

