<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoBooks</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
</head>
<body>

<div id="page-switcher">
    <button onclick="showViewPage()">View Library</button>
    <button onclick="showSearchPage()">Add Books</button>
</div>

<div id="search-page">
    <form id="search-form" onsubmit="return false">
        <label for="search-query">Search</label>
        <input name="search" id="search-query" type="text" placeholder="Enter Search Query"/>
        <input type="submit" value="Search" onclick="submitSearch()" />
    </form>

    <table id="tbl-search">
        <thead>
        <tr>
            <th class="title">Title</th>
            <th class="author">Author</th>
            <th class="year">Year</th>
            <th class="id">ID</th>
        </tr>
        </thead>
        <tbody id="search-results"></tbody>
    </table>
</div>

<div id="view-page">
    <table id="view-library">
        <thead>
            <tr>
                <th class="title">Title</th>
                <th class="author">Author</th>
                <th class="classification">Classification</th>
            </tr>
        </thead>
        <tbody id="view-results">
            {{range .Books}}
            <tr id="book-row-{{.PK}}">
                <td class="title">{{.Title}}</td>
                <td class="author">{{.Author}}</td>
                <td class="classification">{{.Classification}}</td>
                <td class="list-item-btn"><button class="delete-btn" onclick="deleteBook({{.PK}})">Delete</button></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

    <script src="../assets/js/jquery-2.1.4.js"></script>
    <script src="../assets/js/gobooks.js"></script>

</body>
</html>