<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoBooks</title>
    <link rel="stylesheet" href="../assets/css/styles.css" />
</head>
<body>
    <form id="search-form" onsubmit="return false">
        <label for="search-query">Search</label>
        <input name="search" id="search-query" type="text" placeholder="Enter Search Query"/>
        <input type="submit" value="Search" onclick="submitSearch()" />
    </form>

    <table id="tbl-search">
        <thead>
            <tr>
                <th id="title">Title</th>
                <th id="author">Author</th>
                <th id="year">Year</th>
                <th id="id">ID</th>
            </tr>
        </thead>
        <tbody id="search-results"></tbody>
    </table>
    <script src="../assets/js/jquery-2.1.4.js"></script>
    <script src="../assets/js/search.js"></script>

</body>
</html>